/* Main Navigation */
li{
  background:#fe3;
  display: inline;
  height:50px;
  list-style: none;
  margin: 20px 10px;
  padding: 20px 10px;
}
a {
  color: red;
  font: 24px bold sans-serif italic;
  letter-spacing: 2px;
  text-transform: uppercase; 
  text-decoration: none;
}
li:hover {
  background: blue;
  color:#fff;
  transition:background .5s;
}